extends layout

block application
  p.alert.alert-info
    | The admin account for Groonga CloudSearch Console has not been configured yet.
    | You must configure it to use Groonga CloudSearch Console.


  form(action="/admin/password", method="post").form-horizontal
    .control-group
      label.control-label Username
      .controls
        input(type="text", name="username")
    .control-group
      label.control-label Password
      .controls
        input(type="password", name="password")
    .control-group
      .controls
        button.btn.btn-primary(type="submit") Save
