extend layout

block application
  .row
    .span3
      .well(style="padding: 10px 0 10px 0;")
        ul.nav.nav-list
          li.nav-header Domains
          each domain in domains
            if domain.isSelected
              li.active
                a(href="/domain/"+domain.DomainName)
                  i.icon-folder-open
                  = domain.DomainName
            else
              li
                a(href="/domain/"+domain.DomainName)
                  i.icon-folder-close
                  = domain.DomainName

    .span9
      block content
