extend layout

block application
  .row
    .span12
      h1 Groonga CloudSearch Console
  .row
    .span3
      .well(style="padding: 10px 0 10px 0;")
        ul.nav.nav-list
          li.nav-header Domains
          each domain in domains
            li(class=domain.isSelected?'active':null)
              - console.log(domain.isSelected)
              a(href="/domain/"+domain.DomainName)
                = domain.DomainName

    .span9
      block content
