extends application

block content
  .well
    i.icon-folder-open
    | 
    = domain.DomainName

  p.btn-group
    a(href="/domain/"+domain.DomainName).btn About
    a(href="/domain/"+domain.DomainName+"/search").btn Search

  // TODO alert user before delete
  form(action="/domain/"+domain.DomainName, method="POST")
    input(type="hidden", name="_method", value="DELETE")
    input(type="submit", value="Delete this domain").btn.btn-danger

  hr

  block domain-content
