extends application

block content
  h1= domain.DomainName

  p.btn-group
    a(href="/domain/"+domain.DomainName).btn About
    a(href="/domain/"+domain.DomainName+"/search").btn Search

  hr

  block domain-content
