doctype 5
html
  head
    title Groonga CloudSearch Console
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src='js/bootstrap.min.js')
  body
    .navbar.navbar-fixed-top

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Groonga CloudSearch Console

    .container
      .row
        .span12
          h1 Groonga CloudSearch Console
      .row
        .span3
          .well(style="padding: 10px 0 10px 0;")
            ul.nav.nav-list
              li.nav-header Domains
              each domain in domains
                li
                  a(href="/domain/"+domain.DomainName)
                    = domain.DomainName
                li
                  ul.nav.nav-list
                    li
                      a(href="/domain/"+domain.DomainName)
                        = domain.DomainName

        .span9
          block content
