doctype 5
html
  head
    title Groonga CloudSearch Console
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src='/js/jquery-1.8.2.min.js')
    script(src='/js/bootstrap.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Groonga CloudSearch Console

    .container
      if (typeof(error) != 'undefined')
        .alert.alert-error
          strong Error. 
          span= error.message
      for message in info
        .alert.alert-info= message
      block application
