doctype 5
html
  head
    title Groonga CloudSearch Console
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src='/js/bootstrap.min.js')
  body
    .navbar.navbar-fixed-top

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Groonga CloudSearch Console

    .container
      block application
